<!--<?xml version="1.0" encoding="UTF-8"?>-->

<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
        <!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!--<hibernate-configuration>-->
    <!--<session-factory>-->
        <!--&lt;!&ndash; Database connection settings &ndash;&gt;-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.url">jdbc:mysql://195.161.62.202:3306/fuel_prototype?characterEncoding=UTF-8</property>-->
        <!--<property name="connection.autoReconnect">true</property>-->
        <!--<property name="connection.username">fuel_prototype</property>-->
        <!--<property name="connection.password">@fuel_prototype</property>-->

        <!--&lt;!&ndash; JDBC connection pool (use the built-in) &ndash;&gt;-->
        <!--<property name="connection.pool_size">5</property>-->

        <!--&lt;!&ndash; SQL dialect &ndash;&gt;-->
        <!--<property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>-->

        <!--&lt;!&ndash; Disable the second-level cache  &ndash;&gt;-->
        <!--&lt;!&ndash;<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>&ndash;&gt;-->

        <!--&lt;!&ndash; Echo all executed SQL to stdout &ndash;&gt;-->
        <!--<property name="show_sql">true</property>-->

        <!--&lt;!&ndash; Drop and re-create the database schema on startup &ndash;&gt;-->
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->

        <!--&lt;!&ndash;<mapping class="by.flathumor.entity.User"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapping class="by.flathumor.entity.Transaction"/>&ndash;&gt;-->
    <!--</session-factory>-->
<!--</hibernate-configuration>-->